
# PlanAhead Generated physical constraints 

#NET "address_out[7]" LOC = H15;
#NET "address_out[6]" LOC = H16;
#NET "address_out[5]" LOC = G16;
#NET "address_out[4]" LOC = G18;
NET "address_out[3]" LOC = J16;
NET "address_out[2]" LOC = J18;
NET "address_out[1]" LOC = K17;
NET "address_out[0]" LOC = K18;
#NET "sram_data[7]" LOC = R5;
#NET "sram_data[6]" LOC = T3;
#NET "sram_data[5]" LOC = R3;
#NET "sram_data[4]" LOC = V5;
NET "sram_data[3]" LOC = U5;
NET "sram_data[2]" LOC = V14;
NET "sram_data[1]" LOC = T14;
NET "sram_data[0]" LOC = R13;
NET "ctl[3]" LOC = P17;
NET "ctl[2]" LOC = P18;
NET "ctl[1]" LOC = N15;
NET "ctl[0]" LOC = N16;
NET "seg[7]" LOC = T17;
NET "seg[6]" LOC = T18;
NET "seg[5]" LOC = U17;
NET "seg[4]" LOC = U18;
NET "seg[3]" LOC = M14;
NET "seg[2]" LOC = N14;
NET "seg[1]" LOC = L14;
NET "seg[0]" LOC = M13;
NET "state[1]" LOC = T11;
NET "state[0]" LOC = R11;
#NET "sw[7]" LOC = T5;
#NET "sw[6]" LOC = V8;
#NET "sw[5]" LOC = U8;
#NET "sw[4]" LOC = N8;
NET "sw[3]" LOC = M8;
NET "sw[2]" LOC = V9;
NET "sw[1]" LOC = T9;
NET "sw[0]" LOC = T10;
NET "adv" LOC = H18;
NET "ce" LOC = L15;
NET "clk" LOC = V10;
NET "cre" LOC = M18;
NET "lb" LOC = K16;
NET "oe" LOC = L18;
NET "r_l" LOC = V16;
NET "read_in" LOC = C4;
NET "rst" LOC = B8;
NET "sram_clk" LOC = R10;
NET "ub" LOC = K15;
NET "w_l" LOC = U16;
NET "we" LOC = M16;
NET "write_in" LOC = D9;
#NET "control" LOC = T5;
